/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fjalla One", sans-serif;
  font-family: "Lilita One", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Outfit", sans-serif;
}

img {
  max-height: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
}

/* UTILS */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* MAIN */
main {
  text-align: center;
  margin: 0;
  margin: 0 150px;
}

.title {
  color: rgb(229 49 112);
  text-align: center;
  padding: 30px;
}

.paragraph {
  text-align: center;
}

.card-container {
  margin-top: 50px;
}

/* cards */
.card {
  background-color: black;
  width: calc(100% / 3 - 20px);
  margin: 10px;

  float: left;
}

.informations {
  padding: 10px 10px 10px 100px;
  text-align: start;
}

.name,
.profession {
  color: white;
}

.profile-picture {
  height: 90px;
  float: left;
}

.name {
  font-size: 15px;
}

.profession {
  padding: 5px 0 5px 0;
}

.email-address {
  color: rgb(0 132 220);
}
